<h1>{{article.title}}</h1>
<div>{{article.content}}</div>
<div class="entry-meta">
    <span class="post-category"><a href="#">{{ article.category }}</a></span>
    <span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">{{ article.create_time }}</time></a></span>
    <span class="post-author"><a href="#">{{ article.author }}</a></span>
    <span class="comments-link"><a href="#">{{article.comment}}</a></span>
    <span class="views-count"><a href="#">{{ article.page_views }} 阅读</a></span>
</div>
