{% extends 'blog/base.html' %}

{% block main %}
    {% for article in article_list %}
    	<p>
    		<article class="article article-{{ article.pk }}">
                <h4>
                    <a href="{% url 'blog:detail' article.id %}">{{ article.title }}</a>
                </h4>
            	<div>
                	<span class="post-category"><a href="#">{{ article.category }}</a></span>
                	<span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">{{ article.create_time }}</time></a></span>
                	<span class="post-author"><a href="#">{{ article.author }}</a></span>
                	<span class="comments-link"><a href="#">{{ article.comment_set.count }} 评论</a></span>
                	<span class="views-count"><a href="#">{{ article.page_views }} 阅读</a></span>
            	</div>
        	</article>
        </p>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}
    {% if is_paginated %}
    <div class="pagination">
        {% if first %}
            <a href="?page=1">1</a>
        {% endif %}
        {% if left %}
            {% if left_has_more %}
                <span>...</span>
            {% endif %}
            {% for i in left %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
        {% endif %}
        <a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>
        {% if right %}
            {% for i in right %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if right_has_more %}
                <span>...</span>
            {% endif %}
        {% endif %}
        {% if last %}
            <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock main %}